.column1 {
  float: left;
  width: 12%;
  padding: 10px;
  padding-left: 20px;
  height: 95vh; /* Should be removed. Only for demonstration */
  border-right: 2px solid grey;
}
.column2 {
  float: left;
  width: 88%;
  padding: 10px;
  height: 95vh; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#container {
  text-align: center;
  position: relative;
}
#container:after {
  content: "";
  position: absolute;
  left: 50%;
  height: 200%;
  width: 1px;
}
#container > .first {
  position: absolute;
  top: 0;
  left: 0;
}
#container > .second {
  display: inline-block;
}
